<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>

<div class="admin-container">

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Admin Panel</h2>

        <a href="/admin_dashboard">Dashboard</a>
        <a href="/admin/messages">Contact Messages</a>
        <a href="/manage_doctors">Add / Manage Doctor</a>
        <a href="/analytics">Analytics</a>
        <a href="/admin_logout">Logout</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>