<!DOCTYPE html>
<html>
<head>
    <title>Healthcare Appointment System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <div class="navbar">
        <div class="logo">HealthCare+</div>

        <div class="nav-links">
            <a href="/login?role=user" class="nav-btn">User</a>
            <a href="/login?role=admin" class="nav-btn admin-btn">Admin</a>
        </div>
    </div>
</header>

<section class="hero">
    <h1>Your Health, Our Priority</h1>
    <p>Book appointments, consult doctors online & get AI predictions.</p>
</section>

<section class="features">
    <div class="card">
        <h3>Appointment Booking</h3>
        <p>Schedule doctor visits easily.</p>
    </div>

    <div class="card">
        <h3>Online Consultancy</h3>
        <p>Video call & chat with doctors.</p>
    </div>

    <div class="card">
        <h3>AI Dashboard</h3>
        <p>Disease prediction & analytics.</p>
    </div>
</section>

<footer>
    <p>© 2026 Healthcare System</p>
</footer>

</body>
</html>